flow_esp/.local_flows.json.backup
[{"id":"47b1b651.b54ea8","type":"tab","label":"BROKER","disabled":false,"info":""},{"id":"68a7816a14c2e287","type":"group","z":"47b1b651.b54ea8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bc68c15e4621b46b","37e23d8ac95d4736","1eaa7824cc4fc072","eda6c21bec7c93cd","3dcee68ed4f269f0","09459eab808f34e6"],"x":74,"y":539,"w":312,"h":402},{"id":"db30ee6124280675","type":"group","z":"47b1b651.b54ea8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["dddb61cdb090effa","6289fa51796ef21e","b6a823971b20da80","9d36369760bce48b","c66b6310fb0e5328","f95431ebd8c54554","fc0bb3628f726ed5","32ccd6d652bde85a","bc2f6acc3db25ffe","d6e61a77759c79f6"],"x":434,"y":539,"w":412,"h":302},{"id":"2f9983af.f7a25c","type":"mqtt-broker","name":"BROKER ESP","broker":"localhost","port":"1888","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"279afaaf5113d29b","type":"mqtt-broker","name":"001","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"449beac21c11dba8","type":"mqtt-broker","name":"003","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2eafb66424229c06","type":"telegram bot","botname":"my_broker_lmm_test_alert_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"873e8cfa8956cb4a","type":"inject","z":"47b1b651.b54ea8","name":"Atualizar Thingsboard","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"0,1","topic":"","payload":"send_data_tago","payloadType":"str","x":390,"y":100,"wires":[["fd074603729071eb"]]},{"id":"fd074603729071eb","type":"mqtt out","z":"47b1b651.b54ea8","name":"gravar dados no ThingsBoard","topic":"datatago","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2f9983af.f7a25c","x":690,"y":100,"wires":[]},{"id":"044cc550fd1f58f4","type":"aedes broker","z":"47b1b651.b54ea8","name":"BROKER ESP","mqtt_port":"1888","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":100,"y":120,"wires":[[],[]]},{"id":"bc68c15e4621b46b","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"g":"68a7816a14c2e287","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":240,"y":660,"wires":[]},{"id":"37e23d8ac95d4736","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"68a7816a14c2e287","name":"Atualizar Dashboard","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/2 7-17 * * 1,2,3,4,5","once":true,"onceDelay":"0.1","topic":"","payload":"send_data_node","payloadType":"str","x":220,"y":580,"wires":[["bc68c15e4621b46b","1eaa7824cc4fc072","eda6c21bec7c93cd","3dcee68ed4f269f0","09459eab808f34e6"]]},{"id":"1eaa7824cc4fc072","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"g":"68a7816a14c2e287","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":240,"y":720,"wires":[]},{"id":"eda6c21bec7c93cd","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"g":"68a7816a14c2e287","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"2f9983af.f7a25c","x":240,"y":780,"wires":[]},{"id":"3dcee68ed4f269f0","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"g":"68a7816a14c2e287","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"","x":240,"y":840,"wires":[]},{"id":"09459eab808f34e6","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"g":"68a7816a14c2e287","name":"imprimirDadosNoDashboard","topic":"datanode","qos":"0","retain":"true","broker":"","x":240,"y":900,"wires":[]},{"id":"dddb61cdb090effa","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"10","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":10}","payloadType":"json","x":530,"y":580,"wires":[["6289fa51796ef21e"]]},{"id":"6289fa51796ef21e","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"001","topic":"v1/devices/me/telemetry","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"279afaaf5113d29b","x":770,"y":660,"wires":[]},{"id":"b6a823971b20da80","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"20","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":20}","payloadType":"json","x":530,"y":620,"wires":[["6289fa51796ef21e"]]},{"id":"9d36369760bce48b","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"50","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":50}","payloadType":"json","x":530,"y":660,"wires":[["6289fa51796ef21e"]]},{"id":"1c1b4a282b445d52","type":"mqtt in","z":"47b1b651.b54ea8","d":true,"name":"","topic":"my-topic","qos":"1","datatype":"auto-detect","broker":"2f9983af.f7a25c","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":240,"wires":[["358cb542fd43cb87"]]},{"id":"358cb542fd43cb87","type":"debug","z":"47b1b651.b54ea8","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":220,"wires":[]},{"id":"c66b6310fb0e5328","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"25","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":25}","payloadType":"json","x":530,"y":760,"wires":[["f95431ebd8c54554"]]},{"id":"f95431ebd8c54554","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"003","topic":"v1/devices/me/telemetry","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"449beac21c11dba8","x":770,"y":740,"wires":[]},{"id":"76ced1d5d71da017","type":"mqtt in","z":"47b1b651.b54ea8","name":"","topic":"alarme_topic","qos":"1","datatype":"auto-detect","broker":"2f9983af.f7a25c","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":300,"wires":[["72c108dad8ce8472"]]},{"id":"1c0171d5c8c79b4c","type":"debug","z":"47b1b651.b54ea8","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":574,"y":282,"wires":[]},{"id":"72c108dad8ce8472","type":"function","z":"47b1b651.b54ea8","name":"filtro_de_payload","func":"\n\nvar payload = {    \n    \"alerta\": msg.payload.details,\n    \n};\n\nmsg.payload = payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":324,"y":302,"wires":[["1c0171d5c8c79b4c","9ae1898765f6db50"]]},{"id":"fc0bb3628f726ed5","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"15","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":15}","payloadType":"json","x":530,"y":800,"wires":[["f95431ebd8c54554"]]},{"id":"9ae1898765f6db50","type":"function","z":"47b1b651.b54ea8","name":"telegram_format","func":"let texto = msg.payload.alerta.toString()\nmsg.payload = {};\nmsg.payload.chatId = 1582914975\nmsg.payload.type= 'message'\nmsg.payload.content = texto\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":434,"y":362,"wires":[["e772f0bae3d3c32a"]]},{"id":"32ccd6d652bde85a","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"50","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":50}","payloadType":"json","x":530,"y":720,"wires":[["f95431ebd8c54554"]]},{"id":"e772f0bae3d3c32a","type":"telegram sender","z":"47b1b651.b54ea8","name":"bot alert test","bot":"2eafb66424229c06","haserroroutput":false,"outputs":1,"x":624,"y":362,"wires":[[]]},{"id":"bc2f6acc3db25ffe","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":1}","payloadType":"json","x":690,"y":600,"wires":[["6289fa51796ef21e"]]},{"id":"d6e61a77759c79f6","type":"inject","z":"47b1b651.b54ea8","d":true,"g":"db30ee6124280675","name":"1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"{\"valor\":1}","payloadType":"json","x":690,"y":800,"wires":[["f95431ebd8c54554"]]}]