flow_esp/.local_flows.json.backup
[
    {
        "id": "47b1b651.b54ea8",
        "type": "tab",
        "label": "BROKER",
        "disabled": true,
        "info": ""
    },
    {
        "id": "92a71818.8d9b98",
        "type": "mqtt-broker",
        "name": "BROKER002",
        "broker": "10.5.39.18",
        "port": "1882",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2f9983af.f7a25c",
        "type": "mqtt-broker",
        "name": "BROKER003",
        "broker": "10.5.39.18",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "84d973b1.c36a2",
        "type": "mqtt-broker",
        "name": "BROKER004",
        "broker": "10.5.39.18",
        "port": "1884",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b12ef59b.58b6c8",
        "type": "mqtt-broker",
        "name": "BROKER001",
        "broker": "10.5.39.18",
        "port": "1881",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c16bcb02d9e33d50",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "imprimirDadosNoDashboard",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92a71818.8d9b98",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "873e8cfa8956cb4a",
        "type": "inject",
        "z": "47b1b651.b54ea8",
        "name": "Atualizar Dashboard",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 7-17 * * 1,2,3,4,5",
        "once": false,
        "onceDelay": "0,1",
        "topic": "",
        "payload": "send_data_tago",
        "payloadType": "str",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "c16bcb02d9e33d50",
                "cf9885c66a4f7685",
                "fd074603729071eb",
                "2727090bf1420a13"
            ]
        ]
    },
    {
        "id": "fd074603729071eb",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "d": true,
        "name": "imprimirDadosNoDashboard",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2f9983af.f7a25c",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "2727090bf1420a13",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "imprimirDadosNoDashboard",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84d973b1.c36a2",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "cf9885c66a4f7685",
        "type": "mqtt out",
        "z": "47b1b651.b54ea8",
        "name": "imprimirDadosNoDashboard",
        "topic": "datatago",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b12ef59b.58b6c8",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "7a9f61cada679730",
        "type": "aedes broker",
        "z": "47b1b651.b54ea8",
        "name": "LMM-TU-001",
        "mqtt_port": "1881",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 550,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "12074d973b7e1990",
        "type": "aedes broker",
        "z": "47b1b651.b54ea8",
        "name": "LMM-TU-002",
        "mqtt_port": "1882",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 550,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6b176dcaa29a0249",
        "type": "aedes broker",
        "z": "47b1b651.b54ea8",
        "d": true,
        "name": "LMM-TU-003",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 550,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "759356a6fec2f430",
        "type": "aedes broker",
        "z": "47b1b651.b54ea8",
        "name": "LMM-TU-004",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 550,
        "y": 200,
        "wires": [
            [],
            []
        ]
    }
]